

.container-fluid.home {
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
}

.row.about {
  margin-top: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  padding: 60px 0; 
  
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 52px;
  color: #1b2543;
  height: 90px;
  margin-bottom: 40px; /* Added margin bottom */
}

.about .prompt {
  width: 60%; /* Adjusted width */
  font-size: 30px;
  margin-bottom: 30px;
}

.about p {
  font-size: 1.7rem;
  margin-bottom: 10px; /* Increased margin bottom */
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.social-icons a {
  margin-bottom: 10px;
}

