/* ProjectDisplay.css */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 150px;
}

.display-4 {
  color: #161e36;
  margin-bottom: 20px;
}

.img-fluid {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lead {
  color: #555;
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff; /* Bootstrap's primary color */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
  border-color: #0056b3;
}

.btn-dark {
  background-color: #343a40; /* Bootstrap's dark color */
  border-color: #343a40;
}

.btn-dark:hover {
  background-color: #1d2124; /* Darker shade on hover */
  border-color: #1d2124;
}
