
.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 10px; 
  }
  
  .skills-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 800px; 
    height: 500px;
    text-align: center;
    margin: 20px 0;
    
  }
  
  .skills-card h2 {
    color: #333;
  }
  
  .skills-card ul {
    list-style: none;
    padding: 0;
  }
  
  .skills-card li {
    margin: 5px 0;
    color: #555;
  }
  
  