
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Light gray background */
}

.skills-card {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.skills-card h2 {
  color: #161e36;
  margin-bottom: 10px;
}

.list-group {
  padding: 0;
}

.list-group-item {
  background-color: #1b2543; /* Bootstrap's primary color */
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.list-group-item:last-child {
  margin-bottom: 0;
}

.list-group-item:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

  
  